* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: 'Ubuntu', serif;
    background-color: rgb(207, 208, 209);
}

form {
    padding-top: 20px;
    width: 50%;
    height: 30vh;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 10px#6e6e6e;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin: 0 auto;
}

#lengthField {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
    width: 20%;
    height: 30px;
}

#submitBtn {
    width: 50%;
    background-color: #504eff;
    color: #fff;
    height: 40px;
    border: none;
    border-radius: 30px;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
}

#copyBtn {
    display: none;
    width: 20%;
    background-color: #a1a1a1;
    color: #000000;
    height: 40px;
    border: none;
    border-radius: 30px;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* #submitBtn:hover {
    background-color: #cfd0d1;
    color: #000;
} */

#includeSpecialChars,
label {
    display: inline;
}

.special_chars_wrapper {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 0;
}

/* laptop adaptive design  */

@media (max-width: 1440px) {
    #submitBtn {
        width: 45%;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 18px;
    }

    form {
        width: 60%;
        padding-top: 20px;
        height: 29vh;
    }

    #lengthField {
        width: 50%;
    }
}

/* tablet adaptive design  */

@media (max-width: 1024px) {
    form {
        width: 58%;
        height: 35vh;
    }

    #lengthField {
        width: 45%;
    }
}

/* small smartphone adaptive design  */

@media (max-width: 436px) {
    h1 {
        font-size: 20px;
    }
    #submitBtn {
        width: 80%;
    }

    #lengthField {
        width: 40%;
    }
    form {
        width: 78%;
        height: 32vh;
    }
}
@media (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    #submitBtn {
        width: 80%;
    }

    #lengthField {
        width: 40%;
    }
    form {
        width: 70%;
        height: 43vh;
    }
}